.btn-clean {
  display: inline-block;
  padding: 12px 16px;
  background: #fafafa;
  border: 1px solid #bfbfbf;
  border-radius: 2px;
  text-decoration: none;
  color: #8f8f8f;
  font-size: 1em;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
.btn-clean i {
  position: relative;
  top: 1px;
  margin-left: 7px;
  font-size: 1.15em;
}